@page
@model AboutModel
@{
    ViewData["Title"] = "Acerca de la página";
}
<div class="card rounded-card">
    <div class="card-body rounded-card align-items-center text-center">
        <div class="text-center">
            <!-- title and subtitle -->
            <h2 class="display-4">¡Bienvenida a la aplicación de bosques!</h2>
            <!-- details of the application and exam -->
            <div class="text-center" style="margin-top: 60px">
                <h3 class="main-menu-title"> Universidad de Costa Rica </h3>
                <p class="main-menu-text"> Facultad de Ingeniería </p>
                <p class="main-menu-text"> Escuela de Ciencias de la Computación e Informática </p>
                <p class="main-menu-text"> CI - 0126 Ingeniería de Software </p>
                <h3 class="main-menu-title"> Examen 2 </h3>
                <h3 class="main-menu-title-followed"> Profesor: </h3>
                <p class="main-menu-text"> Dr. Allan Berrocal Rojas </p>
                <h3 class="main-menu-title-followed"> Estudiante: </h3>
                <p class="main-menu-text">A. Badilla Olivas - B80874 </p>
                <p class="main-menu-text">II Semestre | 2023 </p>
            </div>

        </div>
    </div>
</div>